@page "/category"
@inject CategoryService _db
@attribute [Authorize(Roles = "Admin")]
<div class="container-fluid p-4">
    <div class="row justify-content-between border border-info">
        <div class="col-sm-12 col-md-5">
            <h1 class="text-info">Category List</h1>
        </div>
        <div class="col-sm-12 col-md-3 text-right">
            <button type="button" class="btn btn-info form-control my-2" @onclick="AddNewCategory">Add new category</button>
        </div>
    </div>
    @if (categories is null)
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" height="200" />
            </div>
        </div>
    }
    else if (categories.Any())
    {
        <div class="row">
            <table class="table table-striped">
                <thead class="bg-info">
                    <tr>
                        <th>Category name:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in categories)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td class="text-right">
                                <button class="btn btn-primary" type="button" @onclick="(()=>EditCategoryHandler(item))">Edit</button>
                                <button class="btn btn-danger" type="button" @onclick="(()=>DeleteCategoryHandler(item))">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>
                            Category Count: @categories.Count
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=400x300" height="200" />
            </div>
        </div>
    }
</div>

@if (showModal)
{
    <div class="modal" tabindex="-1" style="display:block;">

        <EditForm Model="categoryObj" OnValidSubmit="@ValidSubmitHandler">

            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title  text-info">@((categoryObj.Id.Equals(0)) ? "Create" : "Update") Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="CloseModal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="row">
                            <div class="col-4">Category Name</div>
                            <div class="col">
                                @* @bind-Value создаёт в автоматическом режиме делегат и событие @onchange, которое невозможно изменить *@
                                @* @bind создаёт по умолчанию делегат и событие @onchange, который можно изменить на свой, путём указания @bind:event *@
                                <InputText type="text" class="form-control" @bind-Value="categoryObj.Name" />
                                <ValidationMessage For="@(() => categoryObj.Name)" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseModal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>

        </EditForm>
    </div>

}




@code {
    List<Category> categories;
    Category categoryObj = new();
    bool showModal = false;


    protected override async Task OnInitializedAsync()
    {
        categories = await _db.GetAllCategoriesAsync();
    }
    void AddNewCategory()
    {
        categoryObj = new();

        categoryObj.Id = 0;

        showModal = true;
    }
    void CloseModal()
    {
        showModal = false;
    }

    async Task ValidSubmitHandler()
    {
        // 1. Создаём локальную переменную для сохранения результата сохранения/редактирования категории
        bool result = false;
        // 2. Скрываем модальное окно
        showModal = false;
        // 3. Реализовать проверку, создаём ли, либо редактируем категорию и, исходя из ответа вызвать нужный метод обработки из сервисов
        if (categoryObj.Id.Equals(0))
        {
            result = await _db.CreateCategoryAsync(categoryObj);
        }
        else
        {
            result = await _db.UpdateCategoryAsync(categoryObj);
        }

        // 4. Обновить список всех категорий
        categories = await _db.GetAllCategoriesAsync();
    }
    void EditCategoryHandler(Category catForEdit)
    {
        categoryObj = catForEdit;
        showModal = true;
    }
    async Task DeleteCategoryHandler(Category catForDeletion)
    {
        bool result = false;
        result = await _db.DeleteCategoryAsync(catForDeletion);
        categories.Clear();
        categories = await _db.GetAllCategoriesAsync();
    }

}

