@page "/"
@inject ProductService _db
<div class="row p-4 border rounded">
    @if (listOfProducts is null)
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200w.gif?cid=82a1493bg0nn71x3sx1kequ828lbtngocikpzj86t8xmhc10&rid=200w.gif&ct=g" height="200" />
            </div>
        </div>
    }
    else if (listOfProducts.Any())
    {

        @foreach (var item in listOfProducts)
        {
            <div class=" col col-sm-12 col-md-6 col-lg-3">
                <div class="card mr-3 mb-3">
                    @if (item.Image is not null)
                    {
                        <img src="@ToDisplayExtension.ImageToDisplayConverter(item.Image)" class="card-img-top" height="300" width="200" alt="@item.Name picture">
                    }
                    else
                    {
                        <img src="https://st4.depositphotos.com/1028437/21297/v/600/depositphotos_212975764-stock-illustration-image-available-sign.jpg" class="card-img-top" height="200" width="200" alt="@item.Name picture">
                    }
                    <div class="card-body">                       
                        <h5 class="card-title text-center">@item.Name</h5>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 text-center">
                                <span class="text-primary font-weight-bold">
                                    @string.Format("{0:C}", item.Price)
                                </span>                            
                            </div>                         
                                <div class="col-12 text-center my-3">
                                    <a class="btn btn-success form-control" href="/details/@item.Id">Details</a>
                                </div>                       
                        </div>                     
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row">
            <div class="col text-center">
                <img src="https://image.flaticon.com/icons/png/128/2748/2748558.png" height="200" />
            </div>
        </div>
    }
</div>

@code
{
    List<Product> listOfProducts;
    protected override async Task OnInitializedAsync()
    {
        listOfProducts = await _db.GetAllProductsAsync();
    }
    //string ImageToDisplayConverter(byte[] image)// Метод преобразования массива байтов обратно в картинку
    //{
    //    if (image is null)
    //        return "";
    //    var base64 = Convert.ToBase64String(image);
    //    var finalString = string.Format("data:image/jpg;base64,{0}", base64);

    //    return finalString;
    //}
}